@import "../../../mixins.scss";


// .detailsBanner{
//     width: 100%;
//    // background-color: #04152d;
//    padding-top: 30px;
//   //  margin-bottom: 50px;
//   position:relative;
//   //margin-top:30px;
    
//      margin-left: 0px;
//   img{

//     width: 100%;
//     height: 100%;
//    // background-color: #04152d;
//     // position: absolute;
//     // top: 0;
//     // left: 0;
//     opacity: 1;
   
//    // overflow: hidden;
    
//         width: 100%;
//         height: 100%;
//         img {
//             // width: 100%;
//             // height: 100%;
//             // object-fit: cover;
//             // object-position: center;
//         }
    
    
//   //  height:600px;
// }


//     @include md {
//         margin-bottom: 0;
//        // padding-top: 120px;
//         min-height: 700px;
    
//     }
//     // .opacity-layer {
//     //     width: 100%;
//     //     height: 250px;
//     //     background: linear-gradient(
//     //         180deg,
//     //         rgba(4, 21, 45, 0) 0%,
//     //         #04152d 79.17%
//     //     );
//     //     position:relative;
//     //     bottom: 0;
//     //     left: 0;
//     // }
// //     .back-image
// // {
    


   
// // }
// .content {
//     display: flex;
//     position: relative;
//    // flex-direction: column;
//     gap: 25px;
//   //  z-index:2;
//   position:absolute;
//   margin-left:100px;
//   top:80px;
     
//   z-index:16;
//     @include md {
//         gap: 50px;
//         flex-direction: row;
//     }
//     .left {
        
//        // z-index:2;
//         .posterImg {
//             width: 100%;
//            // opacity: 0.5;
//         //    position: fixed;
//         //    z-index:4;
//            // border-radius: 12px;
            
//             @include md {
//               //  max-width: 650px;
//                 width:450px;
//                 height:300px;
//                 display: block;
//             }
//         }
//     }

// }
// }




.detailsBanner
{
     margin-left:0px;
     margin-top:50px;
     
     
 
}
     .content
     {
        display:flex;
        height:500px;
     //   position: relative;
        overflow: hidden;
       // margin-top:50px;
       @include sm3
       {
         
         width:100%;
         height:1000px;
       }
       @include sm2
       {
       
         width:100%;
         height:1000px;
       }
       
          .playbtn
          {
            display: inline;
            position: relative;
            bottom:20px;
            left:230px;
            button{
            @include sm2{
                position: relative;
                right:60px;
                //width:120px;
                padding-right:0px;
            }

            @include sm3{
                position: relative;
                right:100px;
                //width:120px;
                padding-right:0px;
                height:auto;
                font-size: small;
                top:20px;
                width:70px;
            }
             @include sm5
             {
                position: relative;
                right:140px;
                top:50px;
                width:120px;
                padding-right:20px;
                // height:auto;
                // font-size: small;
              
                // width:70px;
             }
             @include sm6
             {
                position: relative;
                right:140px;
                top:50px;
                width:80px;
                padding-right:20px;
                // height:auto;
                // font-size: small;
              
                // width:70px;
             }

        }
          }
          .right{
            @include sm3
            {
              
              width:100%;
              height:500px;
            }
            @include sm2
            {
            
              width:100%;
              height:500px;
            }
            .title
            {
              font-size:34px;
              position: relative;
              left: 100px;
     
              @include md1{
                 font-size: 25px;
                 line-height: 28px;
                 margin-top:20px;
             }
             @include sm2{
                 font-size: 20px;
                 line-height: 28px;
                 margin-top:20px;
             }
             @include sm3{
                 font-size: 40px;
                 line-height: 28px;
                 //margin-top:600px;
                 position: relative;
                 left:70px;
                 top:400px
             }
             @include sm4{
                 font-size: 15px;
                 line-height: 28px;
                 // position: relative;
                 //  left:70px;
             }
            }
            .subtitle
            {
                 font-size: 16px;
                     line-height: 24px;
                     margin-bottom: 15px;
                     font-style: italic;
                     opacity: 0.5;
                     position: relative;
                     left:100px;
                     @include md {
                         font-size: 20px;
                         line-height: 28px;
                     }
                     @include md1{
                         font-size: 15px;
                         line-height: 28px;
                         
                     }
                     @include sm2{
                         font-size: 10px;
                         line-height: 28px;
                         
                     }
                     @include sm3{
                         font-size: 10px;
                         line-height: 28px;
                         position: relative;
                          left:70px;
                     }
            } 
          }
     
        .left{
            .posterImg
          {
          
           @include sm3
           {
             width:100%;
             // margin-top:50px;
             height:500px;
           }
           @include sm2
           {
             width:100%;
             // margin-top:50px;
             height:500px;
           }
          }
             padding-left:120px; 
            
             @include sm3
             {
                padding-left:0px;
                height:500px;
    
             }
             @include sm2
             {
               width:100%;
               // margin-top:50px;
               height:500px;
               padding-left:0px;
             }


            img{
                position:absolute;
                height:140%;
                width:80%;
                object-fit:fill;
                object-position: center;
                background:cover;
            }
        }
        
        .row
        {

            @include sm2{
                //width:45px;
                position: relative;
                bottom:30px;
            
             }
             @include sm3{
                //width:45px;
                position: relative;
                bottom:30px;
            
             }
            .circleRating 
            {
                width:90px; 
                border-radius: 50%;
              padding: 2px;
                //width:60px;
               position: relative;
               top:20px;
               bottom:50px;
               left:120px;
               display:inline;
               @include md1{
                width:60px
                 }

                 @include sm2{
                        width:45px;
                        position: relative;
                        bottom:-100px;
                    
                     }
                     @include sm3{
                           width:35px;
                           position: relative;
                           left:95px;

                         }
            }
        }
     }
